@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");


*{ 
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.header {
    background-color: #fce7ef;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.contact-container{
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 10px;
}

.name-pic{
    display: flex;
    align-items: center;
}

.profile-picture{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    margin-right: 16px;
}

.name {
    font-size: 1.2rem; 
    font-weight: 600; 
    color: #333; 
}

.header-buttons{
    display: flex;
    align-items: center;
    padding: 10px 5px;
    gap: 10px;
}

.header-buttons .button {
    background-color: transparent;
    border: none;
    font-size: 1.5rem; 
    color: #333; 
    transition: color 0.3s;
}

.contact-container .button{
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: #464646;
}

/* -------------------------------------------------------------MEDIAQUERIES------------------------------------------------------------- */

@media (min-width: 768px) {
    .contact-container {
        width: 70%;
    }

    .profile-picture {
        height: 40px;
        width: 40px;
    }

    .name {
        font-size: 120%;
    }

    .header-buttons .button {
        font-size: 22px;
    }

    .contact-container .button {
        font-size: 22px;
    }
}

@media (min-width: 1024px) {
    .contact-container {
        width: 65%;
    }

    .profile-picture {
        height: 50px;
        width: 50px;
    }

    .name {
        font-size: 140%;
    }

    .header-buttons .button {
        font-size: 25px;
    }

    .contact-container .button {
        font-size: 25px;
    }
}

@media (min-width: 2000px) {
    .contact-container {
        width: 60%;
    }

    .profile-picture {
        height: 60px;
        width: 60px;
    }

    .name {
        font-size: 160%;
    }

    .header-buttons .button {
        font-size: 28px;
    }

    .contact-container .button {
        font-size: 28px;
    }
}