.validate-mail-container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    background-color: #fce7ef; 
    text-align: center; 
}


.loading-message-validate {
    font-size: 2rem; 
    color: #ff6f61; 
    margin-bottom: 20px; 
}

.error-message-validate {
    font-size: 1.5rem; 
    color: #dc3545; 
    margin-top: 20px; 
}


.success-message-validate {
    font-size: 1.5rem; 
    color: #28a745; 
    margin-top: 20px;
}