* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.screen-r-password {
    background-color: #fce7ef; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh; 
    padding: 20px;
    padding-top: 50px; 
}

.title-r-password {
    font-size: 2.5rem; 
    color: #333; 
    margin-bottom: 20px; 
    text-align: center; 
    font-weight: 600; 
}

.form-r-password {
    background-color: #ffffff; 
    border-radius: 12px; 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1); 
    padding: 40px; 
    width: 100%;
    max-width: 400px; 
}


.input-r-password {
    margin-bottom: 20px; 
    width: 100%; 
    padding: 12px;
    border: 1px solid #d1a3b8; 
    border-radius: 8px; 
    font-size: 1rem; 
}

.button-r-password {
    background-color: #df78a3; 
    color: white; 
    border: none;
    border-radius: 8px; 
    padding: 12px 15px; 
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
}

.button-r-password:hover {
    background-color: #bb6689; 
}

.success-r-password {
    margin-top: 20px; 
    color: #28a745; 
    font-size: 1rem; 
    text-align: center;
}

.link-r-password {
    margin-top: 20px; 
    color: #1c67b8; 
    text-decoration: none;
    font-size: 0.9rem;
}

.link-r-password:hover {
    color: #0056b3; 
    text-decoration: underline; 
}

/* -------------------------------------------------------------MEDIAQUERIES------------------------------------------------------------- */ 

@media (min-width: 768px) {
    .title-r-password {
        font-size: 3rem;
    }

    .form-r-password {
        padding: 50px; 
        max-width: 600px; 
    }

    .input-r-password {
        font-size: 1.1rem; 
    }

    .button-r-password {
        font-size: 1.1rem; 
    }

    .success-r-password, .link-r-password {
        font-size: 1rem; 
    }
}

@media (min-width: 1024px) {
    .title-r-password {
        font-size: 3.5rem; 
    }

    .form-r-password {
        padding: 60px; 
        max-width: 800px; 
    }

    .input-r-password {
        font-size: 1.2rem; 
    }

    .button-r-password {
        font-size: 1.2rem; 
    }

    .success-r-password, .link-r-password {
        font-size: 1.1rem;
    }
}


@media (min-width: 2000px) {
    .title-r-password {
        font-size: 4rem;
    }

    .form-r-password {
        padding: 70px; 
        max-width: 1000px; 
    }

    .input-r-password {
        font-size: 1.3rem; 
    }

    .button-r-password {
        font-size: 1.3rem; 
    }

    .success-r-password, .link-r-password {
        font-size: 1.2rem;
    }
}