* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.screen-f-password {
    background-color: #fce7ef; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh; 
    padding: 20px;
    padding-top: 50px; 
}

.title-f-password {
    font-size: 2.5rem;
    color: #333; 
    margin-bottom: 20px; 
    text-align: center; 
    font-weight: 600; 
}

.subtitle-f-password {
    font-size: 1.2rem; 
    color: #555; 
    margin-bottom: 30px; 
    text-align: center; 
    max-width: 400px; 
}

.form-f-password {
    background-color: #ffffff; 
    border-radius: 12px; 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1); 
    padding: 40px; 
    width: 100%;
    max-width: 400px; 
}

.input-f-password {
    margin-bottom: 20px; 
    width: 100%; 
    padding: 12px; 
    border: 1px solid #d1a3b8; 
    border-radius: 8px; 
    font-size: 1rem; 
    transition: border-color 0.3s; 
}

.button-f-password {
    background-color: #df78a3; 
    color: white; 
    border: none;
    border-radius: 8px; 
    padding: 12px 15px; 
    font-size: 1rem;
    cursor: pointer;
    width: 100%; 
}

.button-f-password:hover {
    background-color: #bb6689; 
}

.success-f-password {
    margin-top: 20px; 
    color: #28a745; 
    font-size: 1rem; 
    text-align: center; 
}

.link-f-password {
    margin-top: 20px; 
    color: #1c67b8; 
    text-decoration: none; 
    font-size: 0.9rem;
}

.link-f-password:hover {
    color: #0056b3; 
    text-decoration: underline; 
}

/* -------------------------------------------------------------MEDIAQUERIES------------------------------------------------------------- */ 

@media (min-width: 768px) {
    .title-f-password {
        font-size: 3rem; 
    }

    .subtitle-f-password {
        font-size: 1.5rem; 
    }

    .form-f-password {
        padding: 50px; 
        max-width: 600px;
    }

    .input-f-password {
        font-size: 1.1rem; 
    }

    .button-f-password {
        font-size: 1.1rem;
    }

    .success-f-password, .link-f-password {
        font-size: 1rem; 
    }
}

@media (min-width: 1024px) {
    .title-f-password {
        font-size: 3.5rem; 
    }

    .subtitle-f-password {
        font-size: 1.8rem; 
    }

    .form-f-password {
        padding: 60px; 
        max-width: 800px; 
    }

    .input-f-password {
        font-size: 1.2rem; 
    }

    .button-f-password {
        font-size: 1.2rem; 
    }

    .success-f-password, .link-f-password {
        font-size: 1.1rem;
    }
}


@media (min-width: 2000px) {
    .title-f-password {
        font-size: 4rem; 
    }

    .subtitle-f-password {
        font-size: 2rem; 
    }

    .form-f-password {
        padding: 70px; 
        max-width: 1000px; 
    }

    .input-f-password {
        font-size: 1.3rem; 
    }

    .button-f-password {
        font-size: 1.3rem;
    }

    .success-f-password, .link-f-password {
        font-size: 1.2rem; 
    }
}