* { 
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.not-found-contact-chat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #efcfdc;
    color: #721c24;
    text-align: center;
}

.error-title-chat {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.error-image-chat {
    width: 200px; 
    height: auto; 
    margin-bottom: 20px; 
}

.back-button-chat {
    background-color: #df78a3; 
    color: white;
    border: none;
    border-radius: 8px; 
    padding: 12px 15px; 
    font-size: 1rem;
    cursor: pointer;
    margin: 10px auto; 
    display: block; 
    width: 100%; 
    max-width: 200px; 
}  


.back-button-chat:hover {
    background-color:  #bb6689;  
}