* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #fcf6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.phone {
    /* del app */
    height: 95vh;
    width: 320px;
    border-radius: 5px;
    border: 3px solid #fce7ef;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto; 
    overflow-x: hidden; 
    position: relative;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    scrollbar-width: thin; 
    scrollbar-color: #f7d8e4 #fce7ef; 
}

.phone::-webkit-scrollbar {
    width: 8px;
}

.phone::-webkit-scrollbar-thumb {
    background-color: #f7d8e4;
    border-radius: 4px;
}

.phone::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 4px;
}

.phone::-webkit-scrollbar-thumb:hover {
    background: #eccad7;
}

/* -------------------------------------------------------------MEDIAQUERIES------------------------------------------------------------- */

@media (min-width: 768px) {
    .phone {
        width: 500px;
        height: 95vh;
        overflow: auto; 
    }
}

@media (min-width: 1024px) {
    .phone {
        width: 700px;
        height: 95vh;
        overflow: auto; 
    }
}

@media (min-width: 2000px) {
    .phone {
        width: 1000px;
    }
}