* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.contact-header-container {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    background-color: #fce7ef;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
}

.info-profile-icon {
    font-size: 24px;
    color: #333;
    margin-left: 10px;
}

.info-add-contact-icon {
    font-size: 24px;
    color: #333;
    margin-left: 10px;
}

.contact-header-title {
    flex-grow: 1;
}

.contacts-header-contact {
    font-size: 1.3rem;
    color: #333;
}

.search-icon-btn {
    background: none;
    border: none;
    font-size: 22px;
    color: #333;
    cursor: pointer;
    margin-left: 8px;
}

.input-filter {
    height: 30px;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    flex-grow: 1;
    margin-left: 10px;
    max-width: 70%;
}

.input-filter::placeholder {
    color: #999;
}

.input-filter:focus {
    border-color: #aaa;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.contact-icons {
    display: flex;
    gap: 10px;
}

.info-add-contact-icon,
.info-profile-icon {
    font-size: 22px;
    color: #333;
}

/*-------------------------------------------------------------MEDIAQUERIES------------------------------------------------------------- */

@media (min-width: 768px) {
    .contact-header-container {
        padding: 15px;
    }

    .contacts-header-contact {
        font-size: 1.8rem;
    }

    .contact-header-title {
        font-size: 20px;
    }

    .input-filter {
        width: 220px;
        height: 35px;
    }

    .info-add-contact-icon,
    .info-profile-icon,
    .search-icon-btn {
        font-size: 26px;
    }
}

@media (min-width: 1024px) {
    .contact-header-container {
        padding: 20px;
    }

    .contact-header-title {
        font-size: 22px;
    }

    .contacts-header-contact {
        font-size: 2rem;
    }

    .input-filter {
        width: 280px;
        height: 40px;
    }

    .info-add-contact-icon,
    .info-profile-icon,
    .search-icon-btn {
        font-size: 30px;
    }
}

@media (min-width: 2000px) {
    .contact-header-container {
        padding: 25px;
    }

    .contact-header-title {
        font-size: 26px;
    }

    .contacts-header-contact {
        font-size: 2.5rem;
    }

    .input-filter {
        width: 350px;
        height: 45px;
    }

    .info-add-contact-icon,
    .info-profile-icon,
    .search-icon-btn {
        font-size: 36px;
    }
}