* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}


.screen-register {
    background-color: #fce7ef; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh; 
    padding: 20px;
    padding-top: 50px; 
}

.title-register {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
    text-align: center; 
    font-weight: 600; 
}

.form-register {
    background-color: #ffffff; 
    border-radius: 12px; 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1); 
    padding: 40px; 
    width: 100%;
    max-width: 400px; 
}

.input-register {
    margin-bottom: 20px; 
    width: 100%; 
    padding: 12px; 
    border: 1px solid #d1a3b8; 
    border-radius: 8px; 
    font-size: 1rem; 
    transition: border-color 0.3s; 
}

.button-register {
    background-color: #df78a3; 
    color: white; 
    border: none;
    border-radius: 8px; 
    padding: 12px 15px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
}

.button-register:hover {
    background-color: #bb6689; 
}

.link-register {
    margin-top: 20px; 
    color: #1c67b8; 
    text-decoration: none; 
    font-size: 0.9rem;
}

.link-register:hover {
    color: #0056b3; 
    text-decoration: underline; 
}