* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.screen-register {
    background-color: #fce7ef; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh; 
    padding: 20px;
    padding-top: 50px; 
}

.title-register {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
    text-align: center; 
    font-weight: 600; 
}

.form-register {
    background-color: #ffffff; 
    border-radius: 12px; 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1); 
    padding: 40px; 
    width: 100%;
    max-width: 90%; 
}

.input-register {
    margin-bottom: 20px; 
    width: 100%; 
    padding: 12px; 
    border: 1px solid #d1a3b8; 
    border-radius: 8px; 
    font-size: 1rem; 
}

.button-register {
    background-color: #df78a3; 
    color: white; 
    border: none;
    border-radius: 8px; 
    padding: 12px 15px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
}

.button-register:hover {
    background-color: #bb6689; 
}

.success-register {
    margin-top: 20px; 
    color: #28a745; 
    font-size: 1rem; 
    text-align: center; 
}

.link-register {
    margin-top: 20px; 
    color: #1c67b8; 
    text-decoration: none; 
    font-size: 0.9rem;
}

.link-register:hover {
    color: #0056b3; 
    text-decoration: underline; 
}

/* -------------------------------------------------------------MEDIAQUERIES------------------------------------------------------------- */ 

@media (min-width: 768px) {
    .title-register {
        font-size: 2.5rem; 
    }

    .form-register {
        padding: 30px; 
        max-width: 600px; 
    }

    .input-register {
        font-size: 1.1rem; 
    }

    .button-register {
        font-size: 1.1rem; 
    }

    .success-register, .link-register {
        font-size: 1rem; 
    }
}

@media (min-width: 1024px) {
    .title-register {
        font-size: 3rem; 
    }

    .form-register {
        padding: 40px; 
        max-width: 800px; 
    }

    .input-register {
        font-size: 1.2rem; 
    }

    .button-register {
        font-size: 1.2rem; 
    }

    .success-register, .link-register {
        font-size: 1.1rem; 
    }
}

@media (min-width: 2000px) {
    .title-register {
        font-size: 3.5rem; 
    }

    .form-register {
        padding: 50px; 
        max-width: 1000px; 
    }

    .input-register {
        font-size: 1.3rem; 
    }

    .button-register {
        font-size: 1.3rem; 
    }

    .success-register, .link-register {
        font-size: 1.2rem;
    }
}