*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Inter', sans-serif;
}

.container-list{
    height: 80%;
    background-color: #ffffff; 
    padding: 10px;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
    overflow-x: hidden;
    gap: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container-list::-webkit-scrollbar {
    width: 8px; 
}

.container-list::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 4px; 
}

.container-list::-webkit-scrollbar-thumb {
    background-color:#f7d8e4;
    border-radius: 4px; 
}

.container-list::-webkit-scrollbar-thumb:hover {
    background: #eccad7;
}

/* -------------------------------------------------------------MEDIAQUERIES------------------------------------------------------------- */

@media (min-width: 768px) {
    .container-list {
        padding: 15px; 
    }
}

@media (min-width: 1024px) {
    .container-list {
        padding: 20px; 
    }
}

@media (min-width: 2000px) {
    .container-list {
        height: 80%; 
        padding: 25px;
    }
}