* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.container-chat {
    padding: 5px;
    width: 100%;
    display: flex;
    align-items: center;
}

.container-chat.right1 {
    justify-content: flex-end; /* Cambiar a flex-end para alinear a la derecha */
}

.chats {
    padding: 10px; /* Aumentar el padding para más espacio */
    background-color: #f0f0f081; /* Un gris claro para el fondo de los mensajes */
    display: flex;
    flex-direction: column;
    border-radius: 8px; /* Bordes redondeados */
    max-width: 80%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.right2 {
    background-color: #f0f0f081; /* Mantener el mismo color para los mensajes enviados */
}

.info {
    padding: 5px;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    font-size: 0.75rem; /* Tamaño de fuente más pequeño */
}

.author {
    font-size: 0.9rem; /* Tamaño de fuente para el autor */
    font-weight: bold;
    width: 100%;
    padding: 5px;
}

.text {
    height: auto;
    font-size: 0.85rem; /* Tamaño de fuente para el texto */
    padding: 5px;
}

.status-container {
    display: flex;
    gap: 3px;
    justify-content: flex-end;
}

/* -------------------------------------------------------------MEDIAQUERIES------------------------------------------------------------- */

@media (min-width: 768px) {
    .chats {
        max-width: 60%; 
    }

    .info {
        font-size: 0.8rem; 
    }

    .author {
        font-size: 1rem; 
    }

    .text {
        font-size: 0.9rem;
    }
}

@media (min-width: 1024px) {
    .chats {
        max-width: 50%; 
    }
    .info {
        font-size: 0.85rem; 
    }
    .author {
        font-size: 1.1rem; 
    }
    .text {
        font-size: 1rem; 
    }
}

@media (min-width: 2000px) {
    .chats {
        max-width: 40%;
    }

    .info {
        font-size: 0.9rem; 
    }

    .author {
        font-size: 1.2rem; 
    }

    .text {
        font-size: 1.1rem; 
    }
}
